:root {
  --main-color: #5c3838;
  --second-color: #9d9ac0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #eee;
}

header {
  padding: 0;
  margin: 0;
  background-color: var(--main-color);
  color: white;
}

header .navigation {
  padding: 1rem;
  display: -webkit-box;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: white;
}

.navigation h3 {
  font-size: 3rem;
  font-weight: 300;
  border: 1px solid var(--second-color);
  padding: 0.2rem 1.5rem;
  font-family: 'Dancing Script', cursive;
}

header .navigation .nav-links {
  display: -webkit-box;
  display: flex;
  -webkit-column-gap: 2rem;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
  margin-right: 1rem;
  font-size: 1.2rem;
  font-weight: 300;
}

.nav-links a:hover {
  border-bottom: 1px solid var(--second-color);
  transition: all 1s;
}

footer {
  height: 2rem;
}

.footer {
  background-color: var(--main-color);
  padding: 1rem;
}

.footer-text {
  text-align: center;
  font-style: italic;
  font-size: 1.3rem;
  color: white;
}

#meal-section {
  margin: 5rem 15rem;
}

.meals-lists {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.meal-list {
  background-color: var(--second-color);
  border-radius: 8px;
  margin: 1rem;
}

.meal-list img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.card-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.card-title h3 {
  font-size: 2.5rem;
  color: var(--main-color);
  font-family: 'Dancing Script', cursive;
}

.icon-like {
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.1rem;
}

.favorite {
  color: var(--main-color);
  margin-right: 3px;
}

.favorite:hover {
  color: white;
  transition: 0.2s;
}

.meal-card-content {
  padding: 1rem;
  text-align: center;
}

.comment {
  padding: 0.3rem 0.9rem;
  background-color: var(--main-color);
  border: none;
  border-radius: 50rem;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  box-shadow: 7px 7px 5px -7px rgba(0, 0, 0, 0.52);
  margin-bottom: 1rem;
}

.comment:hover {
  background-color: white;
  color: var(--second-color);
  transition: 0.2s;
  cursor: pointer;
}

/* Add your desired styles for the popup window here */
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.popup img {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.popup h3 {
  margin: 10px 0;
}

.close {
  position: absolute;
  top: 10px;
  right: 2px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: red;
}

.commentss {
  margin-top: 20px;
  width: 100%;
}

#form {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin-top: 5px;
}

input {
  border-radius: 3px;
  border: solid rgb(0, 51, 34) 1px;
  padding: 6px;
}

textarea {
  border-radius: 5px;
}

#displayed {
  margin-top: 3%;
}

#btn-comment {
  padding: 8px;
  background-color: green;
  border: none;
  color: white;
  cursor: pointer;
}
